# === Python ===
__pycache__/

# === Jupyter Notebooks ===
.ipynb_checkpoints/

# === IDEs ===
.vscode/
.idea/

# === Entornos Virtuales ===
.venv/
venv/
env/
ENV/

# === Caches ===
.pytest_cache/
.mypy_cache/
